
.add-time-btn{
  cursor: pointer;
  cursor: hand;
}

.btn-floating{
  display:none;
  position:fixed;
}

#floating-add{
  bottom: 33px;
  left: 33px;
}
#floating-stats{
  bottom: 33px;
  right: 33px;
}

.add-time-entry input{
  width:50% !important;
}
